.App{
  .App-header
  {
    display: flex;
    padding: 10px 0;
    box-shadow: 0px -20px 20px rgba(0,0,0,0.05) inset;
    justify-content: space-between;
    align-items: center;
    img , .button-header-container
    {
      margin: 10px;
    }
    .button-header-container
    {
      button.accout {
        background-image: url('./account-icon.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 12px;
        height: 20px;
        margin-right: 20px;
        vertical-align: bottom;
      }
      button.menu {
        background-image: url('./menu-icon.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        vertical-align: bottom;
      }
    }
  }
}